@media screen and (max-width:1170px){
    *{
        overflow-x: hidden;
    }
    /* Utility Function */
    .h-primary{
        font-size: 1.8rem;
    }
    .h-secondary{
        font-size: 1.4rem;
    }
    .para{
        font-size: 1.1rem;
    }
    .btn{
        margin-top:10px;
    }   
}