#navigation-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #000;
    z-index: 1;
    top:0px;
    left:0px;
    right:0px;
}

#stay-happy {
    width: 120px;
    height: 50px;
    filter: invert(100%);
    padding: 2px;
    padding-bottom: 10px;
    transition: all 500ms;
}

#stay-happy:hover {
    background: #fff;
    border-radius: 10px;
    filter: invert(0%);
    transform: scale(1.2);
}

#navbar ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

#navbar ul a {
    text-decoration: none;
    padding: 2px 25px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all 300ms;
}

#navbar ul a:hover {
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}
#more,#cross{
    display: none;
    float: right;
    float:top;
    margin:14px 12px;
    transition: all 2s;
}
#more{
    --size:40px;
    height: var(--size);
    width: var(--size);
}
#cross{
    filter:invert(100%);
    --size:25px;
    height: var(--size);
    width: var(--size);
    margin:20px;
}

@media only screen and (max-width:1170px){
    #navigation-div{
        display: block;
    }
    #navbar ul{
        flex-direction: column;
        align-items: center;
        display: none;
        transition: all 2s;
    }
    #navbar ul li{
        margin:20px 0px;
    }
    #stay-happy{
        float: left;
        margin:5px 10px;
    }
    #more{
        display: inline-block;
    }
}
